<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>
    <context:property-placeholder/>
  
    <bean id="mongoURI" class="com.mongodb.MongoURI">
      <constructor-arg value="${MONGOHQ_URL}"/>
    </bean>
  
    <!-- create db object by calling getDB on mongo bean -->
    <bean id="db" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
      <property name="targetObject"><ref local="mongoURI"/></property>
      <property name="targetMethod"><value>connectDB</value></property>
    </bean>  
 
    <!-- call authenticate on db object -->
    <bean id="authenticateDB"
        class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject"><ref local="db" /></property>
        <property name="targetMethod">
            <value>authenticate</value>
        </property>
        <property name="arguments">
            <list>
                <value>#{ @mongoURI.getUsername() }</value>
                <value>#{ @mongoURI.getPassword() }</value>
            </list>
        </property>
    </bean>

</beans>